
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lexend', sans-serif;
}

header{

    background-image: linear-gradient(to top, transparent 0%, #0E0123 100%), url(../img/banner-header-01.png);
    background-position: center;
    position: relative; 
}




nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 90px;
}

#logo{
    display: flex;
    align-items: center;
    padding: 16px 0px;
}

#games{
    color: white;
    font-weight: 500;
}
nav ul {
    display: flex;
    gap: 40px;
}

ul li {
    list-style: none;
}

li a {
    text-decoration: none;
    font-size: 18px;
    color: #efefefcc;
}
#buttons{
    display: flex;
    gap: 16px;
}
#buttons button{
    width: 90px;
    font-size: 15px;
    padding: 8px 15px;
    border-radius: 8px;
    background-color: #3B44F6;
    border: none;
    color: white;
    cursor: pointer;
}

#buttons #login{
    background-color: transparent;
    border: 1px solid white;
}

#tittle-header{
    margin-top: 114px;
    display: flex;
    flex-direction: column;
    gap: 17px;
    padding-left: 92px;
}

#tittle-header h1{
    font-size: 48px;
    color: white;
}

#tittle-header p{
    font-size: 24px;
    color: white;
    margin-bottom: 64px;
    max-width: 417px;
}

#tittle-header button{
    width: 162px;
    padding: 16px 32px;
    border-radius: 8px;
    background-color: #3B44F6;
    color: white;
    font-size: 18px;
    border: none;
    font-weight: 300;
    margin-bottom: 244px;
    cursor: pointer;
}

main{
    background: #F5F4F9;
}

#whiy-us h1{
    font-size: 36px;
    color: #181818;
}

#whiy-us p{
    font-size: 18px;
    max-width: 473px;
    color: #323232;
}

#tittle-whiy-us{
    width: 473px;
    margin: auto;
    text-align: center;
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 60px;
}

#indicator{
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 48px;
}

.cards{
    width: 916px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.cards .card{
    width: 250px;
    text-align: center;
}

.cards img{
    background-color: #D8DAFD;
    padding: 20px;
    width: 94px;
    height: 94px;
    border-radius: 100px;
}

.cards p{
    font-weight: 600;
    color: #181818;
}

#genre{
    margin-top: 70px;
}

section{
    width: 1096px;
    margin: auto;
}

.tittle-genre h2{
    font-size: 36px;
    color: #181818;
    font-weight: 600;
}

.tittle-genre{
    width: 1096px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}

.tittle-genre span{
    color: #3B44F6;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

#genre-image{
    width: 1096px;
    display: flex;
    justify-content: center;
    padding-top: 24px;
    padding-bottom: 24px;
    gap: 15px;
}

#genre-image img{
    width: 169px;
    height: 169px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.233);
    filter: brightness(.3);
    transition: 0.2s;
}

.genre-card{
    position: relative;
}

.genre-card p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    color: white;
    font-weight: 400;
    font-size: 14px;
}

#genre-image img:hover{
    cursor: pointer;
    backdrop-filter: black;
    filter: brightness(.5);
    color: transparent;
}

#seller-game{
    padding-top: 40px;
    position: relative;
}

#seller-game h2{
    width: 518px;
    font-size: 36px;
    font-weight: 600;
    color: #181818;
    padding-bottom: 24px;
}

#seller-game button{
    width: 36px;
    height: 36px;
    border-radius: 100px;
    border: none;
    border: 0.5px #d1d1d1 solid;
    background: #ffff;
    position: absolute;
    right: -20px;
    bottom: 170px;
    cursor: pointer;
    transition: 0.3s;
}

#best-card-06 .game-price{
    padding-bottom: 7px;
}

#seller-game button:nth-child(3){
    left: -20px;
}

#seller-game button img{
    filter: invert();
}

#seller-game button:hover{
    background: #F0F0F0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.178);
}

.seller-image img{
    width: 260px;
    height: 240px;
    object-fit: cover;
    border-radius: 6px;
    padding: 16px;
}

.best-card-games{
    background-color:white;
    width: 262px;
    border-radius: 8px;
}

.flex{
    width: 1096px;
    margin: auto;
    display: flex;
    gap: 16px;
}

.seller-image h3{
    font-size: 20px;
    font-weight: 400;
    padding-left: 16px;
    margin-bottom: 17px;
}
.game-price{
    display: flex;
    gap: 28px;
    padding-left: 17px;
    margin-bottom: 24px;
    padding-right: 17px;
}
.best-card-games .game-price p{
    color: #3B44F6;
}

.card-none{
    display: none;
}

.seller-off{
    display: flex;
}

.seller-off span{
    color: #FC326F;
    font-size: 12px;
    background: #fc326f33;
    padding: 3px;
    border-radius: 4px;
}

.best-card-games .seller-off p{
    color: #7D7D7D;
    background: #F0F0F0;
    border-radius: 0 4px 4px 0;
    padding: 1.5px 10px 1.5px 6px;
    font-size: 12px;
}

#free{
    background: #D8DAFD;
    padding: 4px 10px;
    border-radius: 4px;
}

#popular-game .tittle-genre{
    margin-bottom: 24px;
}

#popular-game .flex{
    flex-wrap: wrap;
    padding-bottom: 100px;
}

#coming-soon{
    padding-top: 50px;
    padding-bottom: 80px;
    width: 100%;
    background: #0E0E0E;
}

#coming-soon h3{
    color: #F5F4F9;
    font-size: 36px;
    font-weight: 600;
}
#coming-center{
    width: 1096px;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 16px;
}

#left-coming{
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#left-coming img{
    width: 633px;
}

#right-coming{
    margin-top: 84px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.coming-info-button{
    position: relative;
}
.coming-info-button p{
    width: 342px;
    position: absolute;
    font-size: 28px;
    color: white;
    bottom: 112px;
    left: 38px;
    text-shadow: 0px 4px 5px black;
}

.coming-info-button-right p{
    width: 217px;
    bottom: 95px;
    font-size: 25px;
}

.coming-info-button button{
    position: absolute;
    bottom: 49px;
    left: 36px;
    padding: 9px 16px;
    background: transparent;
    border-radius: 8px;
    color: white;
    border: #F5F4F9 solid 1px;
    cursor: pointer;
}

.coming-info-button-right button{
    bottom: 31px;
}

#gamers-satisfied{
    padding-top: 80px;
    padding-bottom: 171px;
}

#gamers-tittle{
    width: 473px;
    margin: auto;
}

#gamers-tittle h3{
    font-size: 36px;
    margin-bottom: 16px;
}

#gamers-tittle p{
    font-size: 18px;
    font-weight: 300;
    text-align: center;
}

#users{
    width: 986px;
    margin: auto;
    justify-content: space-between;
    display: flex;
}

.users-start-end{
    width: 297px;
    text-align: center;
    background: #ffff;
    border-radius: 6px;
    margin-top: 69.5px;
    margin-bottom: 18.5px;
}

.users-start-end img:nth-child(1){
    padding-top: 32px;
    margin-bottom: 24px;
}


.users-start-end img:nth-child(3){
    margin-top: 6px;
    margin-bottom: 10px;
}

.users-start-end h3{
    font-size: 20px;
    font-weight: 400;
}

.users-start-end p{
    font-size: 14px;
    font-weight: 300;
    padding-bottom: 31px;
}

.users-star5{
    width: 324px;
    margin-top: 51px;
    margin-bottom: 0px;
}

.users-star5 h3{
    font-size: 24px;
    font-weight: 500;
}

footer{
    background: #0E0E0E;
    padding-top: 50px;
    color: #A0A0A0;
}

#footer-flex{
    width: 1092px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 65px;
}

footer ul span{
    color: #F5F4F9;
    font-size: 18px;
    margin-bottom: 8px;
}

footer ul{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#social-networks{
    display: flex;
    gap: 12px;
}

#social-networks img{
    width: 20px;
    height: 20px;

}

#social-networks div{
    background: rgba(255, 255, 255, 0.11);
    padding: 8px;
    border-radius: 100px;
    display: flex;
}

footer hr{
    width: 1096px;
    margin: auto;
    color: rgba(255, 255, 255, 0.055);
}

footer p{
    text-align: center;
    padding: 22px 0px;
}